<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>Flex</strong>Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <p class="navbar-text">Flexible project management suite</p>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="currentUser" class="active" (click)="signOut()">
                    <a href="#">Sign Out</a>
                </li>
                <li *ngIf="!currentUser" class="active">
                    <a routerLink="/joinus" routerLinkActive="active">Join Us</a>
                </li>
                <li *ngIf="!currentUser">
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
            </ul>
            <p *ngIf="currentUser" class="navbar-text navbar-right"style="margin-right:10px">{{currentUser.userName}}</p>
        </div>
    </div>
</nav>