<div class="row">
  <div class="col-md-12">
    <div class="bs-component">
      <div class="pull-left">
        <h2>Clients</h2>
      </div>
      <div class="pull-right">
        <h2>
          <a class="text-right btn btn-primary btn-block" data-toggle="modal" data-target="#newClient" (click)="newClientRequest()">add New Client</a>
        </h2>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="bs-component"> 
      <div *ngFor="let client of clients" class="col-md-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="pull-left"><b>{{ client.clientName }}</b></span>
            <span class="pull-right">
              <a href="#"><span class="badge"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i>&nbsp;3</span></a>
            </span>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="col-xm-12">
              <span class="pull-left">
                 <img src="http://placehold.it/75/55C1E7/fff" class="pull-left">
              </span>
              <span class="pull-right text-right">
                  {{ getServiceGroupName(client.clientServiceGroup) }}<br>
                  {{ getIndustryName(client.clientIndustry) }}<br>
                  {{ getCountryName(client.clientCountry) }}
              </span>
              <div class="clearfix"></div>
            </div>
            <div class="col-xm-12" style="margin-top:10px">
              <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmDeleteClient" (click)="deleteClientRequest(client)">Delete</a>
              <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newClient" (click)="editClientRequest(client)">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="bs-component">
    <div id="newClient" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 *ngIf="editClient._id === ''" class="modal-title">New Client</h4>
            <h4 *ngIf="editClient._id != ''" class="modal-title">Edit Client</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="clientForm" class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="text" class="form-control input-sm" formControlName="clientName" [(ngModel)]="editClient.clientName" placeholder="Client name" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <select class="form-control input-sm" id="select" formControlName="clientServiceGroup" [(ngModel)]="editClient.clientServiceGroup" required (change)="onSelectServiceGroup($event.target.value)">
                      <option value="" selected disabled>Client Service Group</option>
                      <option *ngFor="let serviceGroup of serviceGroups" [value]="serviceGroup.idServiceGroup">{{ serviceGroup.serviceGroup }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <select class="form-control input-sm" id="select" formControlName="clientIndustry" [(ngModel)]="editClient.clientIndustry" required>
                      <option value="" selected disabled>Client Industry</option>
                      <option *ngFor="let industry of industries" [value]="industry.idIndustry">{{ industry.industry }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <select class="form-control input-sm" id="select" formControlName="clientCountry" [(ngModel)]="editClient.clientCountry" required>
                      <option value="" selected disabled>Client Country</option>
                      <option *ngFor="let country of countries" [value]="country.idCountry">{{ country.country }}</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <a id="closeNewClient" class="btn btn-default" data-dismiss="modal">Close</a>
            <a *ngIf="!loading" class="btn btn-primary" (click)="clientSubmit(editClient._id)">Save</a>
            <a *ngIf="loading" class="btn btn-primary"><img *ngIf="loading" src="{{loadingSrc}}"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="bs-component">
    <div id="confirmDeleteClient" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Attention!!!</h4>
          </div>
          <div class="modal-body">
            <p>This action cannot be undone. Do you want to continue deleting <b>{{ selectedClient.clientName }}</b>?</p>
          </div>
          <div class="modal-footer">
            <a id="closeConfirmDeleteClient" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a *ngIf="!loading" class="btn btn-danger" (click)="deleteClient(selectedClient._id)">Delete</a>
            <a *ngIf="loading" class="btn btn-danger"><img *ngIf="loading" src="{{loadingSrc}}"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>