<div class="row">
    <div class="col-md-6">
        <app-welcome></app-welcome>
    </div>
    <div class="col-md-6">
        <div class="bs-component">
            <br>
            <div class="well bs-component">
                <form #loginForm="ngForm" class="form-horizontal" (ngSubmit)="onLoginSubmit()">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control input-sm" ngControl="inputUser" name="inputUser" [(ngModel)]="model.userName" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control input-sm" ngControl="inputPassword" name="inputPassword" [(ngModel)]="model.password" placeholder="Password">
                            </div>
                            <div class="col-md-12 text-right">
                                <a routerLink="/recoverpass" routerLinkActive="active">Forgot your login credentials?</a>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-md-12">
                                <a *ngIf="!loading" class="btn btn-primary btn-block" (click)="loginSubmit()"><ng-container i18n="@@loginLink">Login</ng-container></a>
                                <a *ngIf="loading" class="btn btn-primary btn-block"><img *ngIf="loading" src="{{loadingSrc}}"/></a>
                            </div>
                            <div [hidden]="!showRememberNextTime" class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="inputRememberMe"> Remember me next time
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>